@inherits LayoutComponentBase
<PageTitle>Recruitment_Angels</PageTitle>
<div class="page">
    <header>
    </header>
    <main>
        <div id="wrapper">
            <div id="applicantMenu">           
            </div>
            <div id="details">
                @Body
            </div>
        </div>
    </main>
</div>
@code {

}
